body.bg {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.card-large {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 700px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #1e3c72;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #16325c;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #2a5298;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.btn:hover {
    background: #1e3c72;
}

.logout {
    margin-top: 20px;
    background: crimson;
}

.error {
    color: red;
}

.success {
    color: green;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #1e3c72;
    color: white;
}